@page
@model AuthSystem.Views.Home.Index1Model
@{
}

<head>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            border: 3px solid lightgreen;
        }
    </style>
</head>
<body>

    <div class="center">
        <h1>You have successfully submitted your message to Blind Low Vision NZ!</h1>
    </div>

</body>